### Cisc 520 Hw 3

#### Part 1
Consider the following sets:
A={1,2,3,4,5}
B={a,b,c,1,2,3}
C={1，3，4，5}
Alongise the set of integers and the set of positive integers, Calculate the following:

In [2]:
#1. B intersect A
def intersection (A, B):
    return list(set(A) & set(B))

A=[1,2,3,4,5]
B=["a","b","c",1,2,3]
print(intersection(A,B))

[1, 2, 3]

In [15]:
#2 B-Z 
B_not_Z=["a","b","c"]
print(B_not_Z)

['a', 'b', 'c']

In [7]:
#3. A union C
def union (A, C):
    return list(set(A) or set(C))
A=[1,2,3,4,5]
C=[1,3,4,5]
print(union(A,C))

[1, 2, 3, 4, 5]

In [16]:
#4. |A|
len(A)

5

In [22]:
#5. C in A
def Sub (C,A):
    return list(set(C) in set(A))
A=[1,2,3,4,5]
C=[1,3,4,5]
print(Sub(C,A))

TypeError: 'bool' object is not iterable

#### Part 2
S= {x|x in Z and even(x)}

S={2x|x in Z}

##### 1 . describe why it is that these two expressions result in the same set?
First expression represents all the even integers
Second expression pick all the integers and multiply by 2, resulting even integers.

##### 2. Create a similar pair of expressions for the set of all odd integers

S= {x|x in Z and odd(x)}

S={2x+1|x in Z}

##### 3. Use the set builder notation to express the set of all perfect squares

P={x^2| x in Z}

##### 4. Compare the cardinalities within the sets that you defined in the aove parts and the set of integers Z. Which sets have more elements? Or do they all have the same cardinality?

The set of Even integers, Odd integers, integers and perfect squares have same cardinalities, because the cardinality is Infinity

In [35]:
import numpy as np
import pandas as pd
dr={"Invoice_id" :[1,2], "Invoice_Customer":["WalMart","Target"],"Invoice_Date":["1/15/2017","2/6/2017"]}
R=pd.DataFrame(data=dr)
R

  Invoice_Customer Invoice_Date  Invoice_id
0          WalMart    1/15/2017           1
1           Target     2/6/2017           2

In [36]:
dq={"Invoice_line_item_id" :[1,2,3,1,1], "Product_ID":[14,15,12,15,1],"Quantity":[1,3,2,1,3],"ID":[1,1,1,2,3]}
Q=pd.DataFrame(data=dq)
Q

   ID  Invoice_line_item_id  Product_ID  Quantity
0   1                     1          14         1
1   1                     2          15         3
2   1                     3          12         2
3   2                     1          15         1
4   3                     1           1         3